/* VENDORS */

    // bower:scss
    @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
    @import "bower_components/font-awesome/scss/font-awesome.scss";
    // endbower


/* Variables */
@import "base/variables";

/* Fonts */
@import "base/fonts";

/* Mixins */
@import "base/mixins";

/* Sprites */
@import "base/sprites";

/* Global Styles */
@import "base/globals";
@import "base/header";
@import "base/footer";

/* Components */
@import "components/*.scss"


/* Pages */
@import "pages/home";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container.-narrow {
  width: 600px;
}


.todo-list {
  margin: 15px 0;
}


.todo-item {
  > .todo-info-actions {

  }

  > .todo-update-container {
    display: none;
  }
}

.todo-item.-edit-mode {
  > .todo-info-actions {
    display: none;
  }

  > .todo-update-container {
    display: block;
  }
}

.todo-item.-done {
  .todo-description {
    opacity: .4;
    text-decoration: line-through;
  }
}

.todo-info-actions {
   > .todo-description {
     display: inline-block;
     padding: 0 20px;
    font-size: 20px;
   }
}
